<%- include header.html %>
<div class="n-body clearfix">
  <!-- left -->
  <div class="bleft fl">
    <div class="ntoolbar">
      <% if(userinfo.avatar) { %>
        <a href="http://en.gravatar.com/" target="_blank" class="tavatar pbg" title="头像" alt="头像">
          <img id="avatar" src="<%= userinfo.avatar%>" alt="<%= userinfo.name %>" style="display: inline;">
        </a>
      <% } else { %>
        <a href="http://en.gravatar.com/" target="_blank" class="pbg tavatar"></a>
      <% } %>
      <a href="/publish/index/word" class="pbg word"></a>
      <a href="/publish/index/pic" class="pbg pic"></a>
      <a href="/publish/index/music" class="pbg music"></a>
      <a href="/publish/index/video" class="pbg video"></a>
    </div>

    <div class="ncontent clearfix">
      <% if(articles != ""){ %>
      <% articles.forEach(function(articles) { %>
      <dl class="clearfix">
        <dt>
          <img src="<%= articles.avatar %>" width="80" height="80">
          <% if (userinfo._id != articles.author_id) { %>
          <div class="addfriend">
            <a href="javascript:;" data-user="<%= articles.author_id%>" title="加关注" <% if(articles.is_friend == 1) { %>class="delfriend pbg" <% } else { %>class="facefriend pbg"<% } %>></a>
          </div>
          <% } %>
        </dt>
        <dd>
          <div class="pbg ddtop">
            <div class="pbg ddtopr"></div>
          </div>
          <h2 class="clearfix">
            <a href="/content/info/52ad440f401f756877000001" ><%= articles.title%></a><a href="/content/list/52ad3d2c27e1bb9d47000002" class="fr bluea"><%= articles.author_name%></a>
          </h2>
          <div class="ddcontent">
            <% if(articles.music_id) { %>
                 <img src="<%= articles.music_logo%>">
                 <embed src="http://img.xiami.com/res/player/widget/singlePlayer.swf?dataUrl=http://www.xiami.com/widget/xml-single/uid/0/sid/<%= articles.music_id %>" type="application/x-shockwave-flash" width="257" height="33" wmode="transparent">
            <% } else { %>
                <%- articles.content %>
            <% } %>
          </div>
          <div class="ddbuttom">
            <span>
              <font class="gray"><%= articles.create_at.minute %></font>
              <a href="/content/info/" class="gray">评论(<%= articles.reply_count%>)</a>
              <a href="/content/info/" class="gray">喜欢(<%= articles.like_count%>)</a>
              <a href="/content/info" class="like pbg">喜欢</a>
            </span>
          </div>
        </dd>
      </dl>
      <% }) %>
      <% } else { %>
        <dl class="clearfix">
          <dt>没有内容</dt>
        </dl>
      <% } %>
    </div>
    
    <!-- 分页 -->
    <% if(articles != ""){ %>
    <div class="page clearfix">
      <span>共<b class="ftblue"><%= articles.total %></b>篇，当前<b class="ftblue"><%= articles.page %>/<%= articles.pages %></b>页</span>
      <% if(articles.page == 1 && articles.pages > 1) { %>
        <a href='/home?page=<%= articles.page + 1 %>' class="pbg">下一页</a>
        <a href="javascript:;" class="pbg dis">上一页</a>
      <% } else if(articles.page > 1 && articles.pages > 1 && articles.page < articles.pages) { %>
        <a href='/home?page=<%= articles.page + 1 %>' class="pbg">下一页</a>
        <a href='/home?page=<%= articles.page - 1 %>' class="pbg">上一页</a>
      <% } else if(articles.page == articles.pages &&  articles.pages > 1) { %>
        <a href="javascript:;" class="pbg dis">下一页</a>
        <a href='/home?page=<%= articles.page - 1 %>' class="pbg">上一页</a>
      <% } %>
    </div>
    <% } %>
    <!-- 分页 -->
  </div>

  <!-- right -->
  <div class="bright fr">
    <div class="pbg prLove grayborder">
      <a href="/content/mylove" class="pbg">您喜欢了2篇文章</a><a href="/content/explorer/" class="blacka alpha2" style="opacity: 0.4;">去发现好文章</a>
    </div>
    <div class="pbg prLove prfriend grayborder">
      <a href="/friends/index" class="pbg">您关注了<%= friends_num %>位朋友</a><a href="/friends/explorer" class="blacka alpha2" style="opacity: 0.4;">去结交新朋友</a>
    </div>
  </div>
</div>
<%- include footer.html %>
<script src="/js/base.js"></script>
<script type="text/javascript">
  $("dd").mouseover(function(){
    $(this).find(".ddtop").attr("class", "pbg dlh ddtop");
  })
  $("dd").mouseout(function(){
    $(this).find(".ddtop").attr("class", "pbg ddtop");
  })
  $(".blacka").hover(function(){
    $(this).animate({"opacity":1}, 250);
  });
  $(".blacka").mouseout(function(){
    $(this).animate({"opacity":0.4}, 250);
  });
  $(".tavatar").mouseover(function(){
    $("#avatar").css({'display':'none'});
  });
  $(".tavatar").mouseout(function(){
    $("#avatar").css({'display':'inline'});
  });

  //加关注
  $(".facefriend").click(function(){
    var add_user = $(this).attr('data-user');
    $.get('/addfriend?add_user='+add_user, function(ret){
      var result = eval('('+ret+')');
      if(result.ret == true){
        base.tip('<span class="pbg tipres tipsuc">'+result.msg+'</span>');
      } else if (result.ret == false){
        base.tip('<span class="pbg tipres tiperr">'+result.msg+'</span>');
      }
    });
  });
  
  //取消关注
  $(".delfriend").click(function(){
    var add_user = $(this).attr('data-user');
    $.get('/delfriend?del_user='+add_user, function(ret){
      var result = eval('('+ret+')');
      if(result.ret == true){
        base.tip('<span class="pbg tipres tipsuc">'+result.msg+'</span>');
      } else if (result.ret == false){
        base.tip('<span class="pbg tipres tiperr">'+result.msg+'</span>');
      }
    });
  });

  $('document').ready(function(){
    $(".ddcontent").each(function(i){
      var content = $(this).html();
          //content.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
          decodeHTML(content);
    });
  });

  function decodeHTML(text){
    text.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
    return text;
  }
</script>