<%- include header.html %>
<div class="n-body clearfix">
  <!-- left -->
  <div class="bleft fl">
    <div class="ntoolbar">
      <a href="http://en.gravatar.com/" target="_blank" class="pbg tavatar">
        <% if(userinfo.avatar){ %>
          <img id="avatar" src="<%= userinfo.avatar%>" alt="<%= userinfo.name %>">
        <% } %>
      </a>
      <a href="/publish/index/word" class="pbg word"></a>
      <a href="/publish/index/pic" class="pbg pic"></a>
      <a href="/publish/index/music" class="pbg music"></a>
      <a href="/publish/index/video" class="pbg video"></a>
    </div>

    <div class="ncontent clearfix">
      <dl class="clearfix">
        <dt>
          <img src="http://www.gravatar.com/avatar/8eedfec3508297e66263016e87266809?s=200" width="80" height="80">
          <div class="addfriend">
            <a href="/friends/add/52ad3d2c27e1bb9d47000002" title="加好友" class="pbg facefriend"></a>
          </div>
        </dt>
        <dd>
          <div class="pbg ddtop">
            <div class="pbg ddtopr"></div>
          </div>
          <h2 class="clearfix">
            <a href="/content/info/52ad440f401f756877000001" >hello</a><a href="/content/list/52ad3d2c27e1bb9d47000002" class="fr bluea">hughnian</a>
          </h2>
          <div class="ddcontent">
            hello world
          </div>
          <div class="ddbuttom">
            <span>
              <font class="gray">2013-12-15</font>
              <a href="/content/info/" class="gray">评论(0)</a>
              <a href="/content/info/" class="gray">喜欢(0)</a>
              <a href="/content/info" class="pbg like">喜欢</a>
            </span>
          </div>
        </dd>
      </dl>

       <dl class="clearfix">
        <dt>
          <img src="http://www.gravatar.com/avatar/8eedfec3508297e66263016e87266809?s=200" width="80" height="80">
          <div class="addfriend">
            <a href="/friends/add/52ad3d2c27e1bb9d47000002" title="加好友" class="pbg facefriend"></a>
          </div>
        </dt>
        <dd>
          <div class="pbg ddtop">
            <div class="pbg ddtopr"></div>
          </div>
          <h2 class="clearfix">
            <a href="/content/info/52ad440f401f756877000001" >hello</a><a href="/content/list/52ad3d2c27e1bb9d47000002" class="fr bluea">hughnian</a>
          </h2>
          <div class="ddcontent">
            hello world
          </div>
          <div class="ddbuttom">
            <span>
              <font class="gray">2013-12-15</font>
              <a href="/content/info/" class="gray">评论(0)</a>
              <a href="/content/info/" class="gray">喜欢(0)</a>
              <a href="/content/info" class="pbg like">喜欢</a>
            </span>
          </div>
        </dd>
      </dl>

       <dl class="clearfix">
        <dt>
          <img src="http://www.gravatar.com/avatar/8eedfec3508297e66263016e87266809?s=200" width="80" height="80">
          <div class="addfriend">
            <a href="/friends/add/52ad3d2c27e1bb9d47000002" title="加好友" class="pbg facefriend"></a>
          </div>
        </dt>
        <dd>
          <div class="pbg ddtop">
            <div class="pbg ddtopr"></div>
          </div>
          <h2 class="clearfix">
            <a href="/content/info/52ad440f401f756877000001" >hello</a><a href="/content/list/52ad3d2c27e1bb9d47000002" class="fr bluea">hughnian</a>
          </h2>
          <div class="ddcontent">
            hello world
          </div>
          <div class="ddbuttom">
            <span>
              <font class="gray">2013-12-15</font>
              <a href="/content/info/" class="gray">评论(0)</a>
              <a href="/content/info/" class="gray">喜欢(0)</a>
              <a href="/content/info" class="pbg like">喜欢</a>
            </span>
          </div>
        </dd>
      </dl>

       <dl class="clearfix">
        <dt>
          <img src="http://www.gravatar.com/avatar/8eedfec3508297e66263016e87266809?s=200" width="80" height="80">
          <div class="addfriend">
            <a href="/friends/add/52ad3d2c27e1bb9d47000002" title="加好友" class="pbg facefriend"></a>
          </div>
        </dt>
        <dd>
          <div class="pbg ddtop">
            <div class="pbg ddtopr"></div>
          </div>
          <h2 class="clearfix">
            <a href="/content/info/52ad440f401f756877000001" >hello</a><a href="/content/list/52ad3d2c27e1bb9d47000002" class="fr bluea">hughnian</a>
          </h2>
          <div class="ddcontent">
            hello world
          </div>
          <div class="ddbuttom">
            <span>
              <font class="gray">2013-12-15</font>
              <a href="/content/info/" class="gray">评论(0)</a>
              <a href="/content/info/" class="gray">喜欢(0)</a>
              <a href="/content/info" class="pbg like">喜欢</a>
            </span>
          </div>
        </dd>
      </dl>

       <dl class="clearfix">
        <dt>
          <img src="http://www.gravatar.com/avatar/8eedfec3508297e66263016e87266809?s=200" width="80" height="80">
          <div class="addfriend">
            <a href="/friends/add/52ad3d2c27e1bb9d47000002" title="加好友" class="pbg facefriend"></a>
          </div>
        </dt>
        <dd>
          <div class="pbg ddtop">
            <div class="pbg ddtopr"></div>
          </div>
          <h2 class="clearfix">
            <a href="/content/info/52ad440f401f756877000001" >hello</a><a href="/content/list/52ad3d2c27e1bb9d47000002" class="fr bluea">hughnian</a>
          </h2>
          <div class="ddcontent">
            hello world
          </div>
          <div class="ddbuttom">
            <span>
              <font class="gray">2013-12-15</font>
              <a href="/content/info/" class="gray">评论(0)</a>
              <a href="/content/info/" class="gray">喜欢(0)</a>
              <a href="/content/info" class="pbg like">喜欢</a>
            </span>
          </div>
        </dd>
      </dl>
    </div>
  </div>

  <!-- right -->
  <div class="bright fr">
    <div class="pbg prLove grayborder">
      <a href="/content/mylove" class="pbg">您喜欢了2篇文章</a><a href="/content/explorer/" class="blacka alpha2" style="opacity: 0.4;">去发现好文章</a>
    </div>
    <div class="pbg prLove prfriend grayborder">
      <a href="/friends/index" class="pbg">您关注了9位朋友</a><a href="/friends/explorer" class="blacka alpha2" style="opacity: 0.4;">去结交新朋友</a>
    </div>
  </div>
</div>
<%- include footer.html %>
<script type="text/javascript">
  $("dd").mouseover(function(){
    $(this).find(".ddtop").attr("class", "pbg dlh ddtop");
  })
  $("dd").mouseout(function(){
    $(this).find(".ddtop").attr("class", "pbg ddtop");
  })
  $(".blacka").hover(function(){
    $(this).animate({"opacity":1}, 250);
  });
  $(".blacka").mouseout(function(){
    $(this).animate({"opacity":0.4}, 250);
  });
</script>