<%- include header.html %>
    <div class="sbody clearfix">
    	<div class="setbody clearfix">
        <from name="article" action="/publish" method="post">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                	<tr><td colspan="3"><b>发布内容</b></td></tr>
                	<tr>
                        <td width="20%" class="tabbg">发布类型</td>
                        <td width="80%">
                            <label><input class="rinput" type="radio" name="type" value="word" <% if (type == 'word') { %>checked="checked"<% } %>>文字</label>
                            <label><input class="rinput" type="radio" name="type" value="pic" <% if (type == 'pic') { %>checked="checked"<% } %>>图片</label>
                            <label><input class="rinput" type="radio" name="type" value="music" <% if (type == 'music') { %>checked="checked"<% } %>>音乐</label>
                            <label><input class="rinput" type="radio" name="type" value="video" <% if (type == 'video') { %>checked="checked"<% } %>>视频</label>
                        </td>
                	</tr>
                	<tr>
                		<td width="20%" class="tabbg">标题</td>
                		<td width="80%"><input type="text" name="title" class="tinput" autocomplete="off"></td>
                	</tr>
                	<tr <% if (type == "pic" || type == "video") {%>class="sptr1"<% } else { %>class="sptr1 disnone"<% } %>>
                		<td width="20%">图片/视频链接</td>
                		<td width="80%"><input type="text" class="tinput" autocomplete="off"></td>
                	</tr>
                	<tr <% if (type == "music" ) {%>class="sptr2"<% } else { %>class="sptr2 disnone"<% } %>>
                		<td width="20%">音乐搜索</td>
                		<td width="80%" class="musictd">
                            <input type="text" name="music" id="music" class="tinput" style="width:450px" autocomplete="off"><span id="loading"></span>
                        </td>
                	</tr>
                	<tr>
                		<td width="20%" class="tabbg">正文内容</td>
                		<td width="80%">
                		    <textarea class="textinput"></textarea>
                		</td>
                	</tr>
                	<tr>
                		<td></td>
                		<td>
                		    <a href="javascript:;"><button type="submit" class="pbg combutton">完成</button></a>
                		    <a href="/home"><button type="button" class="pbg qxbutton">取消</button></a>
                		</td>
                	</tr>
                </tbody>
            </table>
        </from>
        </div>
    </div>
<%- include footer.html %>
<script type="text/javascript">
	$(".rinput").click(function(){
		var type = $(this).val();
		if(type == "word"){
		    $(".sptr1").hide();
		    $(".sptr2").hide();
		}
		if(type == "pic" || type == "video"){
		    $(".sptr1").show();
		    $(".sptr2").hide();
		}
		if(type == "music"){
		    $(".sptr2").show();
		    $(".sptr1").hide();
		}
	});
    $("#music").live('keyup', function(){
        var _this = $(this),
            musicName = _this.val(),
            loading = $("#loading");
        loading.css({"font-size":"12px"});
        loading.html("<img src='/images/small-round-loading.gif'>正在搜索音乐</span>");
    	$.get('/publish/music?musicName='+musicName+'&page=1', function(data){
            loading.html("");           
    		var ret = JSON.parse(data);
            if(ret.total == null){
                $(".musicbox").remove();
            } else {
                var musics = ret.results;
                var total = ret.total;
                var li = "";
                for(var i in musics){
                    var musicname = decodeURIComponent(musics[i].song_name),
                        musicname = musicName.replace(/\+/gi, " ");
                    var artistname = decodeURIComponent(musics[i].artist_name),
                        artistname = artistname.replace(/\+/gi, " ");
                    li += "<li data="+JSON.stringify(musics[i])+" class='thismusic'><span>"+musicname+"</span><span>-</span><span>"+artistname+"</span></i>"                    
                }
                if(total > 8){
                    li += '<li><span class="font">共搜到'+total+'首歌</span><button type="button" class="pbg pn fr">下一页</button></li>';
                } else {
                    li += '<li><span class="font">共搜到'+total+'首歌</span></li>';
                }
                loading.append('<div class="musicbox"><ul>'+li+'</ul></div>');
            }
    	});
    })
    $(".thismusic").live('click', function(){
        var data = JSON.parse($(this).attr('data'));
        $("#music").remove();
        $("#loading").remove();
        $(".musicbox").remove();
        var img = data.album_logo;
        var musicid = data.song_id;
        var musicplay = '<div class="musicplay"><img src="'+img+'"><embed src="http://img.xiami.com/res/player/widget/singlePlayer.swf?dataUrl=http://www.xiami.com/widget/xml-single/uid/0/sid/'+musicid+'" type="application/x-shockwave-flash" width="257" height="33" wmode="transparent"><input type="hidden" name="musicid" value='+musicid+'><input type="hidden" name="musicimg" value="'+img+'"><span class="closemusic">X</span></div>';
        $(".musictd").append(musicplay);
    });
    $('.closemusic').live('click', function(){
        $(".musicplay").remove();
        var musicsearch = '<input type="text" name="music" id="music" class="tinput" style="width:450px" autocomplete="off"><span id="loading"></span>';
        $(".musictd").append(musicsearch);
    });
</script>